doctype html
html
  head
    title Orders
  body
    form(action="/orders" method="POST")
      input(name="totalPrice" placeholder="price")
      input(name="status" placeholder="Order created")
      input(type="submit" value="guardar")