doctype html
html
  head
    title registration
  body
    form(action="/sessions" method="POST")
      input(type="personnelNumber" name="personnelNumber" placeholder="ID")
      input(type="password" name="password" placeholder="Contraseña")
      input(type="submit" value="Iniciar Sesion")